*{
    padding: 0%;
    margin: 0;
    text-decoration: none;
}
.all{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     
    
}
main{
 background-color:#f2f4f7; 
 height: 720px;
 width: auto;
}
.image{
    display: inline-block;
}
image{
    height: 320px;
    width: 100px;
    display: inline-block;
 
}
.tagline{
    font-size: 24px;
    font-weight: normal; 
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;;
}
.main{
    position: absolute;
    top: 30%;
    margin: 40px 0px 0px;
    padding-top:10px ;
    padding-bottom: 10px;
    border-radius: 6px;
    height: 315px;
    width: 396px;
    background-color: white;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-around;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
  
 
}
input{
    font-size: 17px;
    padding: 14px 16px;
    width: 330px;
    border: 1px solid #dddfe2;
    border-radius: 6px;
    
}
button{
    background-color: #0866ff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    cursor: pointer;
    color: #fff;
    font-weight: 400;
    
}
button:hover{
    background-color: #2878fa;

}
a{
    color: #0866ff;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}
a:hover{
    text-decoration: underline;

}
.create{
    height: 48px;
    width: 160px;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #42b72a;
    text-align: center;
}
.createbutton{
    color: #fff;
    font-size: 17px;
    font-weight: bolder;
    text-decoration: none;
}

